[submodule "ai-day1"]
	path = ai-day1
	url = file:///Users/nishanthmekala/ai/ai-day1
[submodule "ai-day2-structured-output"]
	path = ai-day2-structured-output
	url = file:///Users/nishanthmekala/ai/ai-day2-structured-output
[submodule "ai-day3-prompt-engineering"]
	path = ai-day3-prompt-engineering
	url = file:///Users/nishanthmekala/ai/ai-day3-prompt-engineering
[submodule "ai-day4-tools-with-ai"]
	path = ai-day4-tools-with-ai
	url = file:///Users/nishanthmekala/ai/ai-day4-tools-with-ai
[submodule "day5-agent-loop"]
	path = day5-agent-loop
	url = file:///Users/nishanthmekala/ai/day5-agent-loop
[submodule "day6-fastapi-agent"]
	path = day6-fastapi-agent
	url = file:///Users/nishanthmekala/ai/day6-fastapi-agent
[submodule "day7-ai-assistant-ui"]
	path = day7-ai-assistant-ui
	url = file:///Users/nishanthmekala/ai/day7-ai-assistant-ui
[submodule "day8,9-gmail-agent-learning"]
	path = day8,9-gmail-agent-learning
	url = file:///Users/nishanthmekala/ai/day8,9-gmail-agent-learning
[submodule "day10-sheets-agent-learning"]
	path = day10-sheets-agent-learning
	url = file:///Users/nishanthmekala/ai/day10-sheets-agent-learning
[submodule "day-11,12-email-agent"]
	path = day-11,12-email-agent
	url = file:///Users/nishanthmekala/ai/day-11,12-email-agent
